MACHINE ??= "rzpi"

SRC_URI_remove_pn-gstreamer1.0-omx = "git://anongit.freedesktop.org/gstreamer/common;destsuffix=git/common;name=common"
SRC_URI_pn-gstreamer1.0-omx = "git://github.com/GStreamer/common.git;destsuffix=git/common;name=common"

# Upgrade glibc 2.31-13 debian 11
DEBIAN_PATCH_TYPE_pn-glibc = "quilt"

DPV_remove_pn-glibc = "2.28-10+deb10u3"
REPACK_PV_remove_pn-glibc = "2.28"
PV_remove_pn-glibc = "2.28"

DPV_pn-glibc = "2.31-13+deb11u10"
REPACK_PV_pn-glibc = "2.31"
PV_pn-glibc = "2.31"

# Remove existing src name for glibc
DEBIAN_SRC_URI_remove_pn-glibc = " \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.28-10+deb10u3.dsc;name=glibc_2.28-10+deb10u3.dsc \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.28.orig.tar.xz;name=glibc_2.28.orig.tar.xz \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.28-10+deb10u3.debian.tar.xz;name=glibc_2.28-10+deb10u3.debian.tar.xz \
"

# Add new src name for glibc
DEBIAN_SRC_URI_pn-glibc = " \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.31-13+deb11u10.dsc;name=glibc_2.31-13+deb11u10.dsc \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.31.orig.tar.xz;name=glibc_2.31.orig.tar.xz \
    ${DEBIAN_SECURITY_UPDATE_MIRROR}/main/g/glibc/glibc_2.31-13+deb11u10.debian.tar.xz;name=glibc_2.31-13+deb11u10.debian.tar.xz \
"

# Remove existing checksums for glibc
SRC_URI_remove_pn-glibc = " \
    glibc_2.31-13+deb11u10.dsc.md5sum \
    glibc_2.31.orig.tar.xz.md5sum \
    glibc_2.31-13+deb11u10.debian.tar.xz.md5sum \
    glibc_2.31-13+deb11u10.dsc.sha256sum \
    glibc_2.31.orig.tar.xz.sha256sum \
    glibc_2.31-13+deb11u10.debian.tar.xz.sha256sum \
"

# Add new checksums for glibc

SRC_URI[glibc_2.31-13+deb11u10.dsc.md5sum] = "afb030b9d32f88947cc29b827b307d2d"
SRC_URI[glibc_2.31.orig.tar.xz.md5sum] = "b4cd4b8bb35536d6119ba5314662942c"
SRC_URI[glibc_2.31-13+deb11u10.debian.tar.xz.md5sum] = "b5d79c05efed19437bbe5ad811b53cb1"

SRC_URI[glibc_2.31-13+deb11u10.dsc.sha256sum] = "44074406fbc83225b0c498b95cc8cd50b98be4007048082ba5b07e94f3735c6e"
SRC_URI[glibc_2.31.orig.tar.xz.sha256sum] = "3dc7704b6166839c37d7047626fd199f3d4c09aca0d90e48c51c31c967dce34e"
SRC_URI[glibc_2.31-13+deb11u10.debian.tar.xz.sha256sum] = "540a944da49803b9d8b5053a0390bc476688761168a1917ad1a22b6969182eaa"
